<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ogads.offerwall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OfferDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

</manifest>